{% extends "base.html" %}

{% block main %}

<div class="login-form center-block text-center col-md-5">
    <h2>Please enter your credentials</h2>
    <form action="/" method="POST" id="form-log">
        <div class="pt-3 pb-3 form-group form-floating ">
            <label for="username" class="">Username</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="pt-3 pb-3 form-group form-floating">
            <label for="password" class="">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="pt-4">
            <button id="addbtn" class="btn btn-success btn-block" type="submit">Add</button>
            <button id="checkbtn" class="btn btn-success btn-block" type="submit">Check</button>
        </div>
    </form>
    <br>
    <div class="alert alert-info" id="msgbox">See results here</div>
</div>

{% endblock %}